@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'ramillas';
    src: url('/fonts/ramillas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ramillasItalic';
    src: url('/fonts/ramillasItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    scrollbar-gutter: stable;
}

.swiper-pagination-bullet {
    background-color: #667561 !important;
    opacity: 0.5;
}