@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'questrial';
    src: url('/fonts/questrial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'garamond';
    src: url('/fonts/garamond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    scrollbar-gutter: stable;
}

.swiper-pagination-bullet {
    background-color: #667561 !important;
    opacity: 0.5;
}